@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Redonda'; 
  src: url('/fonts/RedondaTest-Black.otf') format('opentype'); 
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Redonda'; 
  src: url('/fonts/RedondaTest-Bold.otf') format('opentype'); 
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Redonda'; 
  src: url('/fonts/RedondaTest-ExtraBold.otf') format('opentype'); 
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Redonda'; 
  src: url('/fonts/RedondaTest-Regular.otf') format('opentype'); 
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Akina'; 
  src: url('/fonts/akina-regular.otf') format('opentype'); 
  font-weight: 500;
  font-style: normal;
}

:root {
  --background: #fff;
  --foreground: #fff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Redonda', Helvetica, sans-serif;
}

.swiper {
  overflow-y: visible!important;
}

.aspect-guides {
  aspect-ratio: 9 / 16;
}